<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../javascript/contact.js"></script>
        <title>
            Trackgenix de Giga Tech Software S.A.
        </title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/body.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/style.css">  
    </head>
    <body>
        <aside class="sidebar">
            <div class="search-container">
                <input class="search-button" type="text" placeholder= "Search" />
            </div>
            <div class="first-section">                    
                <ul>
                    <li class="box-side">
                        <a href="www.gigatech.com">Home</a>
                    </li>
                    <li class="box-side">
                        <a href="sign-up.html">Sign Up</a>
                    </li>
                    <li class="box-side">
                        <a href="login.html"> Log In</a>
                    </li>
                </ul>
            </div>
            <section class="get-in-touch-container">
                <h3 class="get-in-touch">
                    Get in touch
                </h3>
                <p class="p-sidebar">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <address>  
                    <div class="address">                     
                        <img class="img-sidebar" src="../assets/icon.address.png" alt="Address_image" />
                        <p>
                            1245 Sffeinvrjrs, Bnaudasd
                        </p>
                    </div>
                    <div class="address">                     
                        <img class="img-sidebar" src="../assets/icon-email old.png" alt="Email_image" /> 
                        <p>
                            sikfifkgnmss@gmail.com
                        </p>
                    </div>
                    <div class="address">                     
                                <img class="img-sidebar" src="../assets/icon-telephone.png" alt="Telephone_image" /> 
                        <p>
                            958585412225
                        </p>
                    </div>
                </address>
            </section>
        </aside>
        <main class="container-body">
            <header class="header">
                <div class="menu-button">
                    <img src="../assets/menu-bottom.png" alt="menu_button">
                </div>
                <div class="container-header">
                    <div class="container-text">
                        <h1 class="tittle">
                            Trackgenix
                        </h1>
                    </div>                    
                    <div>    
                        <h2 class="subtittle">
                            by GigaTech Software Solutions SA
                        </h2>
                    </div>
                </div>
            </header>
            <div class="line"></div>           
            <section class="main-container">
                <div class="rigth-cell">
                    <img class="main-image" src="../assets/main-img.png" alt="Main_image" />
                </div>
                <div class="left-cell"> 
                    <h2 class="main-subtittle">
                        Time tracker for teams
                    </h2>
                    <h3 class="main-subtittle-2">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="main-paragraph">
                        Quisque sagittis orci ut diam condimentum, vel euismod erat
                        placerat. In iaculis arcu eros, eget tempus orci facilisis
                        id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                        et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                        sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                        Vestibulum auctor ornare leo, non suscipit magna interdum eu.
                        Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                        amet. Pellentesque commodo lacus at sodales sodales. Quisque
                        sagittis orci ut diam condimentum, vel euismod erat placerat. In
                        iaculis arcu eros, eget tempus orci facilisis id.
                    </p>
                    <div class="learn-bottom">
                        <a href="www.gigatech.com/learnmore">LEARN MORE</a>
                    </div>
                </div>           
            </section>
            <div class="line"></div>
            <section class="function">
                <h2 class="secondary-subtitle">
                    Functions
                </h2>
                <div class="function-boxes">
                    <div class="box">
                        <div class="box-img">
                            <img src="../assets/icon-time.png" alt="Time_image" />
                        </div>
                        <div class="box-txt">
                            <h3 class="boxes-descriptions">
                                Track work hours
                            </h3>
                            <p class="p-boxes">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                                massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                                sapien fringilla, mattis ligula consectetur, ultrices mauris.
                                Maecenas vitae mattis tellus..
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <img src="../assets/icon-reports.png" alt="Reports_image" />
                        </div>
                        <div class="box-txt">
                            <h3 class="boxes-descriptions">
                                Reports
                            </h3>
                            <p class="p-boxes">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                                massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                                sapien fringilla, mattis ligula consectetur, ultrices mauris.
                                Maecenas vitae mattis tellus..
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <img src="../assets/icon-resources.png" alt="Gears_image" />
                        </div>
                        <div class="box-txt">    
                            <h3 class="boxes-descriptions">
                                Management
                            </h3>
                            <p class="p-boxes">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                                massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                                sapien fringilla, mattis ligula consectetur, ultrices mauris.
                                Maecenas vitae mattis tellus..
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <img src="../assets/icon-roles.png" alt="Roles_image" />
                        </div>
                        <div class="box-txt">
                            <h3 class="boxes-descriptions">
                                Multiple roles
                            </h3>
                            <p class="p-boxes">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                                massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                                sapien fringilla, mattis ligula consectetur, ultrices mauris.
                                Maecenas vitae mattis tellus..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </section>                     
            <section> 
                <h2 class="secondary-subtitle">
                    Why track time with Trackgenix?
                </h2>
                <div class="container-why-track">
                    <div class="why-track">
                        <img class="img-track" src="../assets/icon-boost.png" alt="Boost_image" />
                        <h3 class="boxes-descriptions">
                            Boost Productivity
                        </h3>
                        <p class="p-boxes">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, mattis ligula consectetur, ultrices mauris.
                            Maecenas vitae mattis tellus..
                        </p>
                    </div>
                    <div class="why-track">
                        <img class="img-track" src="../assets/icon-multiple-roles.png" alt="Roles_image" />
                        <h3 class="boxes-descriptions">
                            Manage team
                        </h3>
                        <p class="p-boxes">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, mattis ligula consectetur, ultrices mauris.
                            Maecenas vitae mattis tellus..
                        </p>
                    </div>
                    <div class="why-track">
                        <img class="img-track" src="../assets/icon-business-intelligence.png" alt="Business_image" />
                        <h3 class="boxes-descriptions">
                            Business intelligence
                        </h3>
                        <p class="p-boxes">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, mattis ligula consectetur, ultrices mauris.
                            Maecenas vitae mattis tellus..
                        </p>
                    </div>
                    <div class="why-track">
                        <img class="img-track" src="../assets/icon-decision-making.png" alt="Files_image" />
                        <h3 class="boxes-descriptions">
                            Decision-making
                        </h3>
                        <p class="p-boxes">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                            sapien fringilla, mattis ligula consectetur, ultrices mauris.
                            Maecenas vitae mattis tellus..
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </section>                  
            <section class="container-contact-us">
                <h2 class="Contact">
                    Contact us
                </h2>
                <form>
                    <div class="input-container">
                        <div class="flex-input">
                            <input class="input" id="name" type="text" placeholder="Name" />
                        </div>
                        <p class="alert" id="errorName"></p>
                        <div class="flex-input">
                            <input class="input" type="text" id="email" placeholder="Email" />
                        </div>
                        <p class="alert" id="errorEmail"></p>
                    </div>
                    <select class="input" id="area" name="Area">
                        <option value=""></option>
                        <option value="humanResources">Human Resources</option>
                        <option value="systems">Systems</option>
                        <option value="marketing">Marketing</option>
                    </select>
                    <p class="alert" id="errorSelectorArea"></p>
                    <h4>
                        Message
                    </h4>
                    <textarea class="text-area" id="message" name="message" rows="6"></textarea>
                    <p class="alert" id="errorMessage"></p>
                    <button id="button" class="btn-submit" type="button">Submit</button>
                    <button id="reset" class="btn-reset" type="button">Reset</button>
                </form>
                <div class="line"></div>
            </section>
            <section class="about">
                <h2 class="about-us">
                    About us
                </h2>
                <h3 class="lorem-tittle">
                    Lorem
                </h3>
                <aside class="mobile-version">
                    <img class="secundary-image" src="../assets/secundary-image.png" alt="Secundary_image" />
                </aside>
                <p class="p-lorem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                    massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                    sapien fringilla, mattis ligula consectetur, ultrices mauris.
                    Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                    Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
                    in hendrerit urna. Pellentesque sit amet .
                </p>
                <div class="txt-1">
                    <h3 class="ament">
                        Amet Aungue
                    </h3>
                    <p class="p-ament">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                        massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                        sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                        Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
                        in hendrerit urna. Pellentesque sit amet .
                    </p>
                </div>
                <div class="txt-2">
                    <h3 class="lorem-2">
                        Lorem
                    </h3>
                </div>                
                <aside class="image-left">
                    <img class="secundary-image" src="../assets/secundary-image.png" alt="Secundary_image" />
                </aside>
                <div class="txt-3">
                    <p class="p-button">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                        massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                        sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                        Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
                        in hendrerit urna. Pellentesque sit amet sapien fringilla,
                        mattis ligula consectetur, ultrices mauris. Maecenas vitae
                        mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor
                        ornare leo, non suscipit . Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices mauris. Maecenas vitae mattis
                        tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                        leo, non suscipit .Lorem ipsum dolor sit amet, consectetur
                        adipiscing e
                    </p>
                </div>
                <div class="txt-4">                   
                    <p class="p-button">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                        massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                        sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                        Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
                        in hendrerit urna. Pellentesque sit amet sapien fringilla,
                        mattis ligula consectetur, ultrices mauris. Maecenas vitae
                        mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor
                        ornare leo, non suscipit . Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices mauris. Maecenas vitae mattis
                        tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                        leo, non suscipit .Lorem ipsum dolor sit amet, consectetur
                        adipiscing e
                    </p>
                </div>
                <aside class="image-rigth">
                    <img src="../assets/secundary-image.png" class="secundary-image" alt="Secundary_image" />
                </aside>
                <div class="txt-5">
                    <p class="p-button">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                        massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                        sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                        Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
                        in hendrerit urna. Pellentesque sit amet sapien fringilla,
                        mattis ligula consectetur, ultrices mauris. Maecenas vitae
                        mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor
                        ornare leo, non suscipit . Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices mauris. Maecenas vitae mattis
                        tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                        leo, non suscipit .Lorem ipsum dolor sit amet, consectetur
                        adipiscing e
                    </p>
                </div>                                
            </section>
            <div class="line"></div>  
            <div class="clean-float"></div>
            <section class="list-container">
                <div class="footer-list">
                    <h3 class="footer-subtittles">
                        Product
                    </h3>
                    <ol class="bottom-list">
                        <li>Functionalities</li>
                        <li>Integrations</li>
                        <li>Downloand</li>
                        <li>Extra</li>
                    </ol>
                </div>
                <div class="footer-list">                    
                    <h3 class="footer-subtittles">
                        Company
                    </h3>
                    <ol class="bottom-list">
                        <li>About us</li>
                        <li>Customers</li>
                        <li>Resources</li>
                        <li>Blog</li>
                    </ol>
                </div>
                <div class="footer-list">
                    <h3 class="footer-subtittles">
                        Support
                    </h3>
                    <ol class="bottom-list">
                        <li>Help</li>
                        <li>Tutorials</li>
                        <li>Api</li>
                        <li>Contact</li>
                    </ol>
                </div>
                <div class="line"></div>   
            </section>
        </main>
        <footer class="footer">
            <div class="social-media">
                <a class="social-media-icons" href="https://www.facebook.com">
                <img src="../assets/icon-facebook.png" />
                </a>
                <a class="social-media-icons" href="https://www.linkedin.com">
                    <img src="../assets/icon-linkedin.png" />
                </a>
                <a class="social-media-icons" href="https://www.twitter.com">
                    <img src="../assets/icon-twitter.png" />
                </a>
                <a class="social-media-icons" href="https://www.instagram.com">
                    <img src="../assets/icon-instagram.png" />
                </a>
                <a class="social-media-icons" href="https://www.github.com">
                    <img src="../assets/icon-facebook.png" />
                </a>
            </div>
            <div class="social-media">
                <h4 class="city">
                    Montevideo, Uruguay
                </h4>
            </div>
            <div class="social-media">
                <h4 class="company">
                    Copyright © 2022 GigaTech Software Solutions SA
                </h4>
            </div>
        </footer>          
    </body>      
</html>