<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../javascript/login.js"></script>
        <title> Trackgenix Log In</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    </head>
    <body> 
        <div class="container-header">
            <header class="header">
                <div class="home-button">
                    <button id="buttonHome">Home</button>
                </div>
                <div class="container-text">
                    <h1 class="title">
                        Trackgenix
                    </h1>
                </div>                    
                <div>    
                    <h2 class="register">
                        Register
                    </h2>
                </div>
            </header>
        </div>    
        <div class="container-login">
            <form action="">
                <h3 class="title">
                    Sign In
                </h3>
                <fieldset>
                    <i class="fa-solid fa-envelope"></i>
                    <input placeholder="email" type="text" id="email">
                </fieldset>
                <h4 id="errorEmail"></h4>
                <fieldset>
                    <i class="fa-solid fa-lock"></i>
                    <input placeholder="password" type="password" id="password">
                </fieldset>
                <h4 id="errorPassword"></h4>
                <div class="check-remember">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Remember me</p>
                </div>
                <a href="#" class="link">Forgot password?</a>
                <button id="button">Continue</button>
                <div class="create-account">
                    <p class="">
                        Do not have an account? 
                    </p>
                    <a href="sign-up.html">Sign Up</a>
                </div>
            </form>
        </div>
    </body>
</html>