body {
    background-color: #373867;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container-body {
    position: absolute;
    float: right;
    width: 73%;
    height: 4056px;
    top: 0px;
}
.sidebar {
    position: absolute;
    float: left;
    width: 27%;
    height: 3895px;
    top: 159px;    
    background-color: #262862;
}

a[href="www.gigatech.com"]{
    color: white;
    text-decoration: none;
}
.search-button {
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    margin: 50px;      
    gap: 10px;    
    width: 300px;
    height: 60px;
    left: 44px;
    top: 64px;
    background-color: #262862;
    border: 1px solid #49A37B;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;  
}
.box-side-1 {  
    margin: 35px;      
    height: 0px;    
    font-size: 15px;
    line-height: 18px;    
    align-items: center; 
}
.line-1 {    
    width: 290px;
    height: 0px;
    border: 1px solid #49A37B;
}
.box-side-2 {  
    margin: 35px;     
    height: 0px;    
    font-size: 15px;
    line-height: 18px;    
    align-items: center;
}
.line-2 {
    width: 290px;
    height: 0px;        
    border: 1px solid #49A37B;
}
.box-side-3 {   
    margin: 35px;     
    height: 0px;    
    font-size: 15px;
    line-height: 18px;    
    align-items: center;
}
.line-3 {    
    width: 290px;
    height: 0px;   
    border: 1px solid #49A37B;
}
.get-in-touch {
    margin: 35px;   
    height: 0px;   
    font-size: 20px;
    line-height: 23px;
}
.line-4 {    
    width: 290px;
    height: 0px;    
    border: 2px solid #49A37B;
}
.p-sidebar {  
    margin: 35px;  
    width: 290px;
    height: 80px;
    font-size: 12px;
    line-height: 14px;
}
.contact-information {
    display: inline-flexbox;
    margin: 35px;
}
.line-5 {    
    width: 290px;
    height: 0px;
    left: 16px;
    top: 95px;
    border: 1px solid #49A37B;
}
.line-6 {    
    width: 290px;
    height: 0px;
    left: 16px;
    top: 100px;
    border: 1px solid #49A37B;
}
h1 {
    display: inline-block;
    margin-left: 380px;
    margin-top: 70px;
    font-size: 40px;
    line-height: 47px;
}
.subtext-header {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;    
}
.social-media {    
    float: right;
    margin-left: 830px;
    margin-top: -40px;
}
.line-7 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    top: 30px;
    border: 2px solid #49A37B;
}
.subtittle-1 {
    margin-left: 380px;
    margin-top: 85px;
}
.main-subtittle {
    width: 425px;
    height: 42px;
    font-weight: 550;
    font-size: 30px;
    line-height: 35px;
}
.main-subtittle-2 {
    margin-top: 15px;
    width: 246.16px;
    height: 34px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}
.main-paragraph {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 427px;
    height: 355px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}
#main-image {
    position: absolute;
    width: 470px;
    height: 417px;
    left: 870px;
    top: 180px;
}
a[href="www.gigatech.com/learnmore"]{
    align-items: center;
    padding: 14px 36px;    
    width: 100px;
    height: 20px;
    background-color: #49A37B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.line-8 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    margin-top: 40px;    
    border: 2px solid #49A37B;
}
.secondary-subtitle {
    width: 245.74px;
    height: 34px;
    margin-left: 380px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 35px;
}
.line-9 {
    margin-left: 380px;
    margin-top: 5px;
    width: 148px;
    height: 0px;
    border: 2px solid #49A37B;
}
.divTable {
	display: table;
	width: 95%;
    margin-left: 380px;
    margin-top: 30px;
}
.divTableTrackTime {
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
    vertical-align:top;
    padding: 5px;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.line-10 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    margin-top: 20px;    
    border: 2px solid #49A37B;
}
.why-track {
    margin-left: 380px;
    margin-top: 60px;
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
}
.line-11 {
    width: 450px;
    height: 0px;
    margin-left: 380px;
    margin-top: 20px;    
    border: 2px solid #49A37B;
}
.divTableCellWhite, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
    vertical-align:top;
    padding: 5px;
    background-color: white;
    color: #373867;
}
.line-12 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    margin-top: 40px;    
    border: 2px solid #49A37B;
}
.Contact {
    margin-left: 380px;
    margin-top: 60px;
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
}
.line-13 {
    width: 170px;
    height: 0px;
    margin-left: 380px;
    margin-top: 20px;    
    border: 2px solid #49A37B;
}
.About-us {
    margin-left: 380px;
    margin-top: 60px;
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
}
.line-14 {
    width: 170px;
    height: 0px;
    margin-left: 380px;
    margin-top: 0px;    
    border: 2px solid #49A37B;
} 
.Lorem {
    margin-left: 380px;    
    width: 160.18px;
    height: 34.2px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.p-lorem {
    width: 940px;
    margin-left: 380px;
    height: 83.94px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.Ament {
    margin-left: 380px;
    width: 300px;
    height: 34.2px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.p-ament {
    width: 940px;
    margin-left: 380px;
    height: 83.94px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.Lorem-2 {
    margin-left: 380px;
    width: 160px;
    height: 34.2px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.float-left {
    float: left;
    padding: 10px;
}
.float-rigth {
    float: right;
    padding: 10px;
}
.secundary-image {
    width: 238.58px;
    border: 2px solid white;
    border-radius: 60px;
}
.bottom-of-the-body {
    margin-left: 440px;
    width: 800px;
}
.p-bottom {    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.line-15 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    margin-top: 40px;    
    border: 2px solid #49A37B;
}
.footer-subtittles {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.bottom-list {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.footer-list {
    display: inline-block;    
    text-align: left;
    margin-left: 100px;
}
.footer-list-general {
    display: inline-block;    
    text-align: left;
    margin-left: 420px;
    margin-top: 20px;
}
.line-16 {
    width: 930px;
    height: 0px;
    margin-left: 380px;
    margin-top: 40px;    
    border: 2px solid #49A37B;
}
.footer-social-media {
    display: inline-block;
    width: 100%;
    margin-left: 350px;
    text-align: center;
}
