<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Trackgenix Sign Up</title>
            <link rel="stylesheet" href="../styles/reset.css">
            <link rel="stylesheet" href="../styles/sign-up.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    </head>
    <body>
        <div class="container-header">
            <header class="header">
                <div class="home-button">
                    <button id="button">Home</button>
                </div>
                <div class="container-text">
                    <h1 class="title">
                        Trackgenix
                    </h1>
                </div>                    
                <div>    
                    <h2 class="register">
                        Register/Employee
                    </h2>
                </div>
            </header>
        </div>    
        <div class="container-signup">
            <form action="">
                <div class="content-information">
                    <h3 class="title">
                        Sign Up
                    </h3>
                    <fieldset class="first-name">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName">
                    </fieldset>
                    <fieldset class="last-name">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName">
                    </fieldset>
                    <fieldset>
                        <i class="fa-solid fa-envelope"></i>
                        <label for="email">Email</label>
                        <input type="text" id="email">
                    </fieldset>
                    <fieldset>
                        <i class="fa-solid fa-lock"></i>
                        <label for="password">Password</label>
                        <input type="text" id="password">
                        <i class="fa-regular fa-eye-slash"></i>
                    </fieldset>
                    <fieldset>
                        <i class="fa-solid fa-lock"></i>
                        <label for="repeatPassword">Repeat password</label>
                        <input type="text" id="repeatPassword">
                        <i class="fa-regular fa-eye-slash"></i>
                    </fieldset>
                    <div>
                        <p class="error-message">
                            If an error occurs when filing a form, a message will show here
                        </p>
                    </div>
                </div>
                <div>
                    <button id="button">CREATE ACCOUNT</button>
                    <div class="footer">
                        <p class="have-account">
                            Already have and account? 
                        </p>
                        <a href="login.html">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>