.footer {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #373867;
}
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.s-m{
    padding: 10px;
}
@media screen and (min-width: 1024px) {
    .footer {
        width: 73%;
        float: right;
    }
}