.header {
    display: flex;
    justify-content:flex-start;  
    align-items:baseline;
}
.container-header {
    display: flex;
    justify-content: flex-start;  
    align-items: baseline;
    flex-direction: column;    
}
.menu-button {
    margin: 15px 20px;
}
.tittle {
    font-size: 40px;
    font-style: bold;
    line-height: 47px;
    padding-right: 15px;
}
.subtittle {
    font-size: 12px;
    line-height: 14px;  
}
@media screen and (min-width: 768px) {
    .container-header {
        flex-direction: row;    
    }
}
@media screen and (min-width: 1024px) {
    .menu-button {
        display: none;
    }

    .container-header {
        flex-direction: row;    
    }
}