/* header container */
.header {
    padding-top: 30px;
    min-height: 70px;
    display: flexbox;
    border-bottom: #49A37B 4px solid;
}
/* image */
.menu-bottom {
    margin-left: 15px; 
    float: left;
}
/* text container */
.container-header {
    float: left;     
    padding-left: 30px;
    margin-bottom: 15px;
}
.tittle {
    font-size: 40px;
    font-style: bold;
    line-height: 47px;
}
.subtittle {
    font-size: 12px;
    line-height: 14px;  
}