.container-body {
    width: 100%;   
    float: right;
    margin-top: 15px;
    display: block;
}
/* --------------------------------------------------------------------container-2------------------------------------------------------------------- */
.container-2 {
    display: block;
    margin: 30px 20px 0 20px;
}
.main-image {
   
    min-width: 100%;    
}
.main-subtittle {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 20px;
}
.main-subtittle-2 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
}
.main-paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    margin-top: 30px;
}
.learn-bottom {
    margin-top: 25px;
    margin-bottom: 25px;
}
a[href="www.gigatech.com/learnmore"]{
    padding: 14px 36px;    
    width: 100px;
    height: 20px;
    background-color: #49A37B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
/* -------------------------------------------------------------Function------------------------------------------------------------------------ */
.boxes {
    width: 100%;
    display: block;
}
.box {
    padding: 5px;
    margin: 10px;
}
.secondary-subtitle {
    margin: 30px 25px 0 25px;
    font-style: normal;
    font-size: 30px;    
}
.boxes-descriptions {
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.p-boxes {
    font-style: normal;
    font-size: 12px;
}
/* -----------------------------------------------------Why track time with Trackgenix?-------------------------------------------------------- */
.container {
    width: 100%;   
    display: block;
}
.why-track {
    padding: 15px;
    margin: 25px;
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    background-color: white;
    color: #373867;
    border-radius: 15px;
}
/* ----------------------------------------------------------------CONTACT US--------------------------------------------------------------------- */
.container-contact-us {
    margin: 15px;
}
.Contact {
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
}
.input {
    width: 95%;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
}
.text-area {
    width: 95%;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
}
.btn-submit {
    padding: 5px 30px;    
    width: 100px;
    background-color: #49A37B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    color: white;
}
.btn-reset {
    padding: 5px 30px;    
    width: 100px;
    background-color: #f13312;
    border-radius: 5px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    color: white;
}

/* --------------------------------------------------------------ABOUT US------------------------------------------------------------------------- */
.clean-float {
    clear: both;
} 
.about {
    margin: 30px 15px;
}
.about-us {
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
}
.lorem {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 5px;
    margin: 5px;
}
.p-lorem {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.ament {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 5px;
    margin: 5px;
}
.p-ament {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 10px 10px 0 50px;
}
.p-button {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}
.lorem-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.mobile-version {
    float: right;
    padding: 10px;
}
.float-left {
    float: left;
    padding: 10px;
    display: none;
}
.float-rigth {
    float: right;
    padding: 10px;
    display: none;
}
.secundary-image {
    width: 238.58px;
    border: 2px solid white;
    border-radius: 60px;
}
.txt-2 {
    display: none;
}
.txt-3 {
    display: none;
    padding: 5px;
    margin: 5px;
}
.txt-4 {
    display: none;
}
.txt-5 {
    display: none;
    margin: 5px;
    padding: 5px;
}

/* --------------------------------------------------------LISTS-------------------------------------------------- */
.list-container {
    display: block;
    margin: 15px;
    width: 100%;
}
.footer-subtittles {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.footer-list {
    padding: 15px;
}





@media screen and (min-width: 768px) {
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;  
        align-items:flex-start; 
    }
    .box-img {
        flex: 0;
        padding-right: 10px;
    }
    .box-txt {
        flex: 1;
    }    
    .container { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .why-track {
    flex: 2;
    flex-basis: 40%;
    }
    .input-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex-input {
        flex: 1;
        padding-right: 20px;
    }
    .mobile-version {
        display: none;
    }
    .p-lorem {
        display: none;
    }
    .txt-1 {
        display: none;
    }
    .float-left {
        display: inline;
        margin: 15px;        
    }
    .txt-3 {
        display: inline;
    }
    .float-rigth {
        display: inline;
        margin: 15px;       
    }
    .txt-5 {
        display: inline;
    }
    .list-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
}

@media screen and (min-width: 1024px) {
    .container-body {
        width: 75%;
    }
    .container-2 {
        display: flex;
        justify-content:flex-start;  
        align-items: flex-start;
    }
    .left-cell {
        order: 1;
    }
    .rigth-cell {
        order: 2;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;  
        align-items:flex-start; 
    }
    .box {
        flex: 2;
        flex-basis: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;  
        align-items:flex-start; 
    }
    .box-img {
        flex: 0;
        padding-right: 10px;
    }
    .box-txt {
        flex: 1;
    }  
    .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .why-track {
    flex: 1;
    flex-basis: 10%;
    }
    .img-track{
    float: inline-end;
    }
    .p-lorem {
         display: inline;
         margin-bottom: 5px;
     }
     .p-ament {
         margin: 5px;
     }
     .txt-1 {
         display: inline;
         margin: 10px;
     }
     .txt-2 {
         display: inline;
     }
     .txt-4 {
         display: inline;
     }
 }