.sidebar {
    position:absolute;
    width: 0px;
    background-color: #262862;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: none;
}

.search-button {
    padding: 20px;
    margin: 20px;
    height: 5px;
    color: white;
    background-color: #262862;
    border: 2px solid #49A37B;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;  
}

.search-container {
    background-color: #373867;
    width: 100%;
    height: 120px;
}

.get-in-touch-container {
    padding-top: 20px 0 0 5px;
    display: block;
}

.box-side {
    margin: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #49A37B;
    width: 90%;
}

.get-in-touch {
    margin: 15px;
    padding: 40px 0 5px 0;
    border-bottom: 1px solid #49A37B;
    width: 90%;
    font-size: 20px;
}

.p-sidebar {
    margin: 15px;
    padding-bottom: 5px;
    font-size: 12px;
}

.contact-information {
    margin-top: 5px;
}

.img-sidebar {
    padding-right: 10px;
}

.address {
    margin: 15px;
    display:flex;
    align-items: flex-end;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #49A37B; 
    width: 90%;
}

@media screen and (min-width: 1024px) {
    .sidebar {
        width: 25%;
        display: inline;
    }
}