body {
    background-color: #373867;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a[href="www.gigatech.com"]{
    color: white;
    text-decoration: none;
    background-color: #373867;
}